<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gabriel Rivera Per-ossenkopp</title>
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-3.3.6-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/material-dist/css/material.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/material-dist/css/material-fullpalette.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/material-dist/css/ripples.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/material-dist/css/roboto.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">

    <script src="{% static 'assets/vendor/jquery-1.11.3.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-3.3.6-dist/js/bootstrap.min.js' %}">
</head>
<body>
    <div id="content">

    </div>

    <script src="{% static 'app.js' %}"></script>
    <script src="{% static 'assets/vendor/material-dist/js/material.min.js' %}"></script>
    <script src="{% static 'assets/vendor/material-dist/js/ripples.min.js' %}"></script>
    <script type="text/javascript">
        $.material.init()
    </script>
</body>
</html>